.socialMediaContainer{
    display: flex;

    .googleIco{
        width: 60px;
        height: 60px;
    }

    .appleIco{
        width: 60px;
        height: 60px;
    }

    .facebookIco{
        width: 60px;
        height: 60px;
    }
}