
footer{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #d9d9d9;
    padding: 10px 0px 10px 0px;
    gap: 20px;

    .containerFooter{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #c3c3c3;
        gap: 100px;
        padding: 10px;
       

        .socialContacts{
            display: flex;
            flex-flow: column;
            align-items: start;
            justify-content: center;
            background-color: whitesmoke;
            width: 400px;

            .socialText{
                text-align: left;
                margin-bottom: 20px;
            }

            .logoFooter{
                display: flex;
                align-items: start;
                width: 140px;
                
            }
        }

        .ourMenu{
            display: flex;
            flex-flow: column;
            justify-content: end;
            height: 100%;
            padding: 10px;
            
            h2{
              font-size: 25px;
            }

            ul{
                margin-top: 20px;
                height: 100%;
                li{
                    text-align: left;
                    list-style: none;
                    font-size: 20px;
                    margin: 15px 0px 15px 0px;
                }
            }

        }

        .usefulLinks{
            display: flex;
            flex-flow: column;
            justify-content: end;
            height: 100%;
            padding: 10px;
            
            h2{
              font-size: 25px;
            }

            ul{
                margin-top: 20px;
                height: 100%;
                li{
                    text-align: left;
                    list-style: none;
                    font-size: 20px;
                    margin: 15px 0px 15px 0px;
                }
            }
        }

            .socialMedias{
                display: flex;
                gap: 20px;

                .socialLogo{
                    width: 44px;
                    margin-top: 10px;
            
                }
            }

            .stayConnected{
                padding: 10px;
                text-align: left;
                display: flex;
                flex-flow: column;
                gap: 20px;
                height: 100%;
                margin-bottom: 53px;

                .footerSearchBox{
                    background-color:white;
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                    height: 34px;
                    border-radius: 10px;
                    margin: 0px 0px 10px 0px ;
                    box-shadow: 4px 4px 10px 0px rgba(150,150,150,0.48);
                    -webkit-box-shadow: 4px 4px 10px 0px rgba(150,150,150,0.48);
                    -moz-box-shadow: 4px 4px 10px 0px rgba(150,150,150,0.48);
                    
                    .inputFooter{
                        border: none;
                        padding: 5px;
                        
                        &:focus{
                            outline: none;
                        }
                       
                        &::placeholder{
                            color: #c3c3c3;
                        }

                    }
                    
                    a{
                        margin: 0;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .phoneBox{
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: left;
                    gap: 16px;

                    
                    .phoneImg{
                        width: 20px;
                    }

                    p{
                        font-size: 16px;
                    }
                }

                .emailBox{
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: left;
                    gap: 16px;

                    .emailImg{
                        width: 20px;
                    }

                }


                .email{
                    width: 20px;
                }

                .arrow{
                    width: 20px;
                    padding-left: 5px;
                }
            }


        a{
            text-decoration: none;
            color: black;
        }

    }

}