
footer{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #c3c3c3;
    padding: 10px 0px 10px 0px;
    gap: 20px;



.socialContacts{

    display: flex;
    flex-flow: column;
    align-items: start;
    background-color: whitesmoke;
    width: 400px;
    height: 100%;
    gap: 10px;

    .socialText{
        text-align: left;
    }

    .logoFooter{
        display: flex;
        align-items: start;
        width: 160px;
        
    }
}

.ourMenu{
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    gap: 10px;
    

    li{
        text-align: left;
        list-style: none;
        font-size: 20px;
    }
}


.usefulLinks{
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
    height: 100%;

   
    li{
        text-align: left;
        list-style: none;
    }

}

    .socialMedias{
        display: flex;
        gap: 20px;

        .socialLogo{
            width: 48px;
            
        }

    }


a{
    text-decoration: none;
    color: black;
}



}