@import '../partials/colors.module';

header{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-color;
}

.navHeader{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    .navMenu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        
        a{
            text-decoration: none;
            color: black;
            padding: 0px 10px 0px 10px;
            margin: 0px 10px 0px 10px;
            font-weight: 300;

        &:hover{
            color: $orange-text;
            font-weight: 400;
        }
        }

        

    }

    .navButton{
        width: 100px;
        height: 36px;
        border-radius: 10px;
        border: none;
        background-color: tomato;
        box-shadow: 2px 3px 10px -2px rgba(51,51,51,0.41);
    }
    
}




.brand{
    width: 100px;
}