.productContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 50px;


    .boxText{
        display: flex;
        margin: 10px 10px 50px 10px ;
        
    }

    .productShow{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        .nikeTn{
            width: 80%;
        }

        .productImagesShow{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0px;
            padding: 10px 0px;

        }
    }
    
    .productPrice{
        width: 50%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 10px;

        h1{
            font-size: 4rem;
            font-weight: 500;
        }

        .priceLikeBox{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 500px;

            h2{
                font-size: 3rem;
                font-weight: 400;
            }
            
            .favoriteIcon{
                width: 50px;
            }
        }


        .sizeChoice{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 95%;
            padding: 10px;
            gap: 10px;

            .addToCart{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 8%;
                background-color: #EA5340;
                color: white;
                padding: 15px;
            }
        }

        .infoShipping{

        }

        .productDetails{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }

}