.productContainer{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 50px;


    .productShow{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        .nikeTn{
            width: 98%;
        }

        .productImagesShow{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0px;
            padding: 10px 0px;

        }
    }
    
    .productPrice{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

}