header{
    width: 100%;
    display: flex;
    background-color: #ec1010;
    height: 250px;

    .navigationItens{
        display: flex;
        flex-flow: row;
        align-items: center;
        width: 100%;
        background-color: aliceblue;
        justify-content: space-between;
    
        .brandBox{
            .logoHeader{
                width: 60px;
            }
        }
    
        .navBoxIcon{
        
            .navIcons{
                width: 20px;
            }

        }

    }

}