
.cardContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 28%;
    margin: 20px 0px 10px 0px;
    border-radius: 14px;
    box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.17);
    -webkit-box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.17);

    .cardHeader{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 70%;

            .airIco{
                width: 14%;
            }

            .cartIco{
                width: 8%;
            }
      
    }

    .imgBox{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

        .nikeAir{
            width: 230px;
            margin-top: 8px;
            margin-bottom: 10px;
        }
    }

    .snkInfo{
        margin-top: 10px;
        width: 90%;
        display: flex;
        gap: 40%;

        .snkName{

            width: 400px;

            h1{
                font-size: 1.2rem;
                font-weight: 500;
            }

            p{
               color: gray;
            }
        }

        .snkPrice{
           
            .price{
                font-size: 1.1rem;
                font-weight: 500; 
            }
            .coin{
                color: gray;
            }
        }

    }
}

@media screen and (max-width:321px) {
    .cardContainer{
        width: 280px;
        height: 24%;

        .imgBox{
            
            .nikeAir{
                width: 200px;
            }
        }

        .cardHeader{
            gap: 65%;
                .airIco{
                    width: 16%;
                }
    
                .cartIco{
                    width: 10%;
                }
          
        }

        .snkInfo{
    
            .snkName{
                h1{
                    font-size: 1.2rem;
                    font-weight: 500;
                }
    
                p{
                   color: gray;
                }
            }
    
            .snkPrice{
               
                .price{
                    font-size: 1.1rem;
                    font-weight: 500; 
                }
                .coin{
                    color: gray;
                }
            }

        }
        
    }
}

@media screen and (min-width: 375px) and (max-width:424px) {
    
    .cardContainer{sd
       
        .imgBox{
            .nikeAir{
                width: 260px;

            }
        }

        .cardHeader{
            gap: 60%;
                .airIco{
                    width: 16%;
                }
    
                .cartIco{
                    width: 10%;
                }
          
        }

        .snkInfo{
            .snkName{

                h1{
                    font-size: 1.3rem;
                    font-weight: 500;
                }
    
                p{
                   color: gray;
                }
            }
    
            .snkPrice{
               
                .price{
                    font-size: 1.3rem;
                    font-weight: 500; 
                }
                .coin{
                    color: gray;
                }
            }
    
        }
    }
}


@media screen and (min-width:480px){
    .cardContainer{
        width: 80%;
        height: 30%;

        .imgBox{
            .nikeAir{
               width: 98%;
            }
        }

    }    
}

@media screen and (min-width:600px){

   .cardContainer{
        width: 44%;
        height: 23%;

        .snkInfo{
            .snkName{
                width: 100%;
            }
        }
        
   }


}