.collectionCard{
    background-color: tomato;
    padding: 10px;

    .imgSneaker{
        width: 180px
    }

    .cardContent{

        .sneakerTitle{
            font-size: 18px;
        }

    }
}


