@import '../partials/colors.modules.scss';

.heroContainer{
    display: flex;  
    flex-direction: row nowrap;
    width: 1440px;
  
}

.imgPizza{
    width: 600px; 
}

.heroContent{
    padding: 10px 20px 10px 20px;
    text-align: left;
    .heroSubtitle{
        color: $orange-text;
    }

    .heroTitle{
        font-size: 4rem;
    }
}

