.welcomeContainer{
    display: flex;
    flex-flow: column;
    gap: 4px;

    .mainTitle{
        font-size: 1.6rem;
    }

    p{
        font-size: 1.2rem;
        font-weight: 400;
        color: #737373;
    }



}