.appDownload{
    .appBox{
        display: flex;
        flex-flow: column nowrap;
        background-color: antiquewhite;
        text-align: left;


        .downloadTitleBox{
            display: flex;
            text-align: left;
            flex-flow: column;
        }

        .storesApps{
            width: 200px;
            padding: 10px;
            background-color: tomato;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: left;
        }

        .brandsStore{
            
        }

    }
}

.brandsStore{
    width: 80px;
}