.appDownload{
    .appBox{
        display: flex;
        flex-flow: column nowrap;
        background-color: rgb(234, 189, 131);
        text-align: left;


        .downloadTitleBox{
            display: flex;
            text-align: left;
            flex-flow: column;
        }

        .storesApps{
            
            background-color: tomato;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: left;

            .brandsStore{
                width: 200px;
            }
    
        }
    
    }

}

