@import '../partials/colors.module';

.ContainerColorFull{
    display: 220px
}

.aboutAllContent{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    gap: 350px;

    .xbaconImg{
        width: 400px;
    }

    .aboutContent{
        text-align: left;
        width: 400px;
    }

    .aboutSubtitle{
        color: $orange-text;
    }

    .aboutTitle{
        color: tomato;
    }
   

    }

    

